# tinyrox says don't edit this manually, but it can't stop you!

export(ts_cursor_depth)
export(ts_cursor_field_name)
export(ts_cursor_goto_first_child)
export(ts_cursor_goto_next_sibling)
export(ts_cursor_goto_parent)
export(ts_cursor_new)
export(ts_cursor_node)
export(ts_language_cpp)
export(ts_language_python)
export(ts_language_r)
export(ts_node_child)
export(ts_node_child_by_field)
export(ts_node_child_count)
export(ts_node_children)
export(ts_node_end_byte)
export(ts_node_end_point)
export(ts_node_is_named)
export(ts_node_is_null)
export(ts_node_named_child)
export(ts_node_named_child_count)
export(ts_node_next_named_sibling)
export(ts_node_next_sibling)
export(ts_node_parent)
export(ts_node_prev_named_sibling)
export(ts_node_prev_sibling)
export(ts_node_sexpr)
export(ts_node_start_byte)
export(ts_node_start_point)
export(ts_node_text)
export(ts_node_type)
export(ts_parse)
export(ts_parser_new)
export(ts_parser_set_language)
export(ts_tree_root_node)
export(ts_tree_text)

S3method(as.data.frame,ts_node)
S3method(print,ts_cursor)
S3method(print,ts_node)
S3method(print,ts_tree)

useDynLib(treesitR, .registration = TRUE)
